spring:
  application:
    name: Product-service
  datasource:
    url: jdbc:postgresql://localhost:5432/product_db
    username: root
    password: 123qwerty
  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true